<!DOCTYPE html>
<html>
	<head>
	    <meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>管理员登录</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	</head>
	<body style="margin: 200px 400px;">
	<p>管理员登录,请输入密码:</p>
	<form action="/admin/login" method="post">
	<input type="password" name="admin" id="admin" class="form-control" /><br/>
	<input type="submit" class="btn btn-success" style="margin-left:50px;" value="登录"></input>
	</form>
	<script src="/js/jquery-3.1.0.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	</body>
</html>